/*
Author: Bo Hendrix Parker
Date: 03/09/2022
file: styles.css
*/

/* CSS RESET */
body, header, nav, main, footer, a, div, h1, h3, h4, p, img, ul, figure, figcaption, section, article, aside {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Add box-sizing border-box to all elements */
* {
  box-sizing: border-box;
}

/* Add default style rules for body and images */
body {
  font-family: Verdana, Arial;
}

img {
  max-width: 100%;
  display: block;
}

/* Header style */
header {
  top: 0;
}

header img {
  margin: 0 auto;
}

/* justify any text in this rule */
.brief, .portfolio-article, .edu-descr {
  text-align: justify;
  text-justify: inter-word;
}

/* main */
main {
  padding: 2%;
  font-size: 1.1em
}

/* article rules */
article {
  padding: 4%;
}

article h1, h3 {
  text-align: center;
}

article img {
  margin: 0 auto;
}

h4 {
  margin-top: 2%;
}

/* Portfolio Page */


/* Education Page */

.brief {
  margin: 0 auto;
  padding: 4%;
}

.education-article {
  margin: 0 auto;
  padding: 4%;
}

.edu-descr ul {
  margin-left: 10%;
}

/* Footer */
footer {
  clear: both;
  padding: 4%;
}

footer p {
  text-align: center;
  font-size: 0.8em;
  padding: 0 1em;
}

/* mobile class for mobile screns */
.mobile {
  display: block;
}

.tab-desk {
  display: none;
}

.desk {
  display: none;
}

.mobile-tab {
  display: block;
}

.edu-img {
  display: none;
}

/* rules for table in education page */
.edu-descr table {
  border-collapse: collapse;
  width: 250px;
  margin: 0 auto;
  border: 1px solid #000;
  margin-top: 2%;
}

.edu-descr th, td {
  border: 1px solid #000;
  padding: 1%;
}

/* tablet media query */
@media screen and (min-width: 600px), print {
  .mobile {
    display: none;
  }

  .mobile-tab {
    display: block;
  }

  .tab-desk {
    display: block;
  }

  .desk {
    display: none;
  }

  .grid2 {
    display: grid;
    grid-template-columns: auto auto;
  }

  /* nav */
  nav {
    padding: 1%;
  }

  nav ul {
    list-style-type: none;
    text-align: center;
  }

  nav li {
    display: inline-block;
  }

  nav li a {
    display: block;
    text-decoration: none;
    color: #000;
  }

  article {
    clear: both;
  }

  .edu-descr table {
    margin-left: 0;
  }

  /* make the edu-img inline with the edu-descr */

  .edu-img {
    display: inline-block;
    float: left;
    width: 20%;
  }

  .edu-descr {
    display: inline-block;
    float: right;
    width: 70%;
    margin-left: 2%;
  }

  .edu-descr h3 {
    text-align: left;
  }
}

/* desktop media query */
@media screen and (min-width: 1000px), print {
  .desk {
    display: block;
  }

  .mobile-tab {
    display: none;
  }

  #container {
    width: 1000px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2%;
  }

  .grid2 {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .brief {
    grid-column: 1 / span 3;
  }

/* center the images vertically since they are different heights */
  .edu-img {
    display: block;
    clear: right;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
  }

  .edu-img img {
    max-width: 140px;

  }

  .edu-descr {
    display: block;
    clear: left;
    width: 100%;
    margin-top: 10px;
  }
}

/* large desktop media query */
@media screen and (min-width: 1651px) {
  #container {
    width: 1100px;
    margin: 0 auto;
  }

  .edu-img {
    height: 370px;
  }

  .edu-descr img {
    max-width: 155px;
  }
}

/* print media query */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}
