<!DOCTYPE html>
<!--
  Author: Bo Hendrix Parker
  Date: 03/10/2022
  Filename: index.html
-->
<html lang="en">
<head>
  <title>About Me</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Insert Favicons -->
  <link rel="icon" href="{{url_for('static', filename='images/favicons/favicon.png')}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/favicons/apple-touch-icon.png')}}">
</head>

<body>

  <div id="container">

    <header>

      <!-- Mobile Header -->
      <a href="{{url_for('index')}}" class="mobile mobile-header"><img src="{{url_for('static', filename='images/mobile-banner.png')}}" alt="bhp mobile banner"></a>

      <!-- Desktop Header -->
      <a href="{{url_for('index')}}" class="tab-desk"><img src="{{url_for('static', filename='images/banner.png')}}" alt="bhp banner"></a>

      <!-- nav button -->
      <div class="nav-button mobile" onclick="menu()">
        <h1>&#9776;</h1>
      </div>

    </header>

    <!-- mobile nav links -->
    <nav class="mobile" id="mobile-nav">
      <a href="{{url_for('index')}}">About Me</a>
      <a href="{{url_for('education')}}">Education</a>
      <a href="{{url_for('portfolio')}}">Portfolio</a>
      <a href="{{url_for('contact')}}">Contact</a>
    </nav>

    <!-- nav for tablet and desktop -->
    <nav class="tab-desk">
      <ul>
      	<li><a href="{{url_for('index')}}">About Me</a></li>
      	<li><a href="{{url_for('education')}}">Education</a></li>
      	<li><a href="{{url_for('portfolio')}}">Portfolio</a></li>
      	<li><a href="{{url_for('contact')}}">Contact</a></li>
      </ul>
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <p>Copyright &copy; 2022 Bo Hendrix Parker</p>
      </footer>
  
    </div>
  
  <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
  </body>
  </html>