{% extends 'base.html' %}
{% block content %}
    <main>

      <article class="brief">
        <h1>About Me</h1>
        <p>I am a full time student at Pasco Hernando State College. My major is Computer Programming and Analysis. I plan on graduating in the Spring of 2023, and then I will pursue an Associate's Degree in Cyber Security. </p>
        <p>I am CompTIA certified in Project+ and Network+. I have passed the first exam for the CompTIA A+ certification and will take the second soon. I currently work part-time at a PC repair shop.</p>
      </article>

    </main>
{% endblock %}
