{% extends 'base.html' %}
{% block content %}
    <main>
      <h1>Portfolio</h1>
      <div class="grid2">
      <article class="portfolio-article">
        <h3>Nuze</h3>
        <a class="githublink" href="https://github.com/bohparker/nuze" target="_blank">View on Github</a>
        <p>
          A Flask News/Blogging site. It has full database and authentication functionality.
          Users can create an account, can be assigned roles and permissions, and write articles using
          CKEditor.
        </p>
      </article>

      <article class="portfolio-article">
        <h3>Portfolio</h3>
        <a class="githublink" href="https://github.com/bohparker/portfolio" target="_blank">View on Github</a>
        <p>This is the site you are on right now. It started off as a static site 
          for a final project in a web design course. It has been turned into a Flask site that uses Flask-Mail
          and WTForms.
        </p>
      </article>

      <article class="portfolio-article">
        <h3>Alekna Contracting</h3>
        <a class="githublink" href="https://github.com/bohparker/alekna-contracting-site" target="_blank">View on Github</a>
        <p>
          A site made for a friend's personal contracing business. It is a simple Flask app. This was first made 
          as a static site before it was made into a Flask app.
        </p>
      </article>

      <article class="portfolio-article">
        <h3>Rescue Site</h3>
        <a class="githublink" href="https://github.com/bohparker/rescue-site" target="_blank">View on Github</a>
        <p>This is a simple website from a Web Design course's textbook. It is a website for a fictitious foundation that rescues animals. It was created over the course of the textbook through the exercises in each chapter.</p>
      </article>

      <article class="portfolio-article">
        <h3>Music Site</h3>
        <a class="githublink" href="https://github.com/bohparker/music-site" target="_blank">View on Github</a>
        <p>This is a simple website from a Web Design course's textbook. It is a website for a fictitious company that teaches music lessons. It was created over the course of the textbook through the exercises in each chapter.</p>
      </article>

      <article class="portfolio-article">
        <h3>Fitness Site</h3>
        <a class="githublink" href="https://github.com/bohparker/fitness-site" target="_blank">View on Github</a>
        <p>This is a website from a Web Design course's textbook. The main course material centered around creating this site. The major fundamentals of Web Design were covered while making this project. It is a website for a fictitious gym.</p>
      </article>

    </div>
    </main>
{% endblock %}
