{% from 'macros.html' import badge_macro with context %}
{% extends 'base.html' %}
{% block content %}
    <main>
      <h1>Education</h1>
      <article class="brief">
          
          <h3>Computer Programming and Analysis, Associate in Science</h3>
          <h4>GPA: 4.0 | Pasco Hernando State College</h4>
          <hr>
          <h4>Currently studying for Bachelor of Applied Science in Cybersecurity</h4>
          <br>
          <br>
      </article>

      <h3>Certifications and Badges</h3>

      <div class="certs-grid">

        {% for badge in badges %}

          {{ badge_macro(badge[0],badge[1],badge[2]) }}

        {% endfor %}
      </div>

      <h3>Udemy Certificates</h3>
      <div class="udemy-grid">

        <img src="{{url_for('static', filename='images/udemy/flask-smorest.jpg')}}" alt="flask-smorest-certificate">
        <img src="{{url_for('static', filename='images/udemy/python-postgres.jpg')}}" alt="python-postgresql-certificate">


      </div>
    </main>
{% endblock %}