{% extends 'base.html' %}
{% block content %}
    <main>
      <h1>About Me</h1>
      <article class="brief">
        <p>I am a full time student at Pasco Hernando State College. 
          I will graduate with an Associate's Degree in Computer Programming 
        and Analysis on May 4th, 2023. I will then continue my education 
        by pursuing a BAS in Cyber Security.</p>
        <p>
          I have focused on learning Python development in my free time. 
          I am fluent with the Flask framework, REST APIs using Flask-Smorest, 
          SQL, particularly PostgreSQL, git, HTML5, and CSS.
        </p>
        <p>I have many certifications and hope to pursue a career in 
          DevOps or Administration. Please checkout my 
          <a class="in-text-link" href="{{url_for('frontend_blueprint.portfolio')}}">Portfolio page</a> 
          to see the projects I've worked on or my 
          <a class="in-text-link" href="{{url_for('frontend_blueprint.education')}}">Education page</a>
          to see my degree and the many certifications I have.
        </p>
      </article>

      <section id="profiles">
        <h1>Profiles</h1>
        <div id="profiles-grid">
          
          <a href="https://github.com/bohparker" target="_blank">
            <article class="profiles-article">
              <section class="profile-img">
                <img src="{{url_for('static', filename='images/profiles/github.png')}}" alt="github logo">
              </section>
              <section class="profile-name">GitHub</section>
            </article>
          </a>

          <a href="https://www.credly.com/users/bo-parker/badges" target="_blank">
            <article class="profiles-article">
              <section class="profile-img">
                <img src="{{url_for('static', filename='images/profiles/credly.png')}}" alt="credly logo">
              </section>
              <section class="profile-name">Credly</section>
            </article>
          </a>

          <a href="https://www.linkedin.com/in/bo-parker/" target="_blank">
            <article class="profiles-article">
              <section class="profile-img">
                <img src="{{url_for('static', filename='images/profiles/linkedin.png')}}" alt="linkedin logo">
              </section>
              <section class="profile-name">LinkedIn</section>
            </article>
          </a>

          <a href="https://www.udemy.com/user/bo-hendrix-parker/" target="_blank">
            <article class="profiles-article">
              <section class="profile-img">
                <img src="{{url_for('static', filename='images/profiles/udemy.png')}}" alt="udemy logo">
              </section>
              <section class="profile-name">Udemy</section>
            </article>
          </a>

        </div>
      </section>

    </main>
{% endblock %}
