{% macro project_macro(name,link,description) %}

    <article class="portfolio-article">
        <a class="githublink" href="{{link}}" target="_blank">View on Github</a>
        <h3>{{name}}</h3>
        <p>{{description}}</p>
    </article>   

{% endmacro %}

{% macro badge_macro(name,link,filename) %}

    <article class="cert">
        <a href="{{link}}" target="_blank">
            <img src="{{url_for('static', filename='images/badges/')}}{{filename}}" alt="{{name}}">
        </a>
    </article>

{% endmacro %}